
.highlight{
    background-color: #ECECEC
    
    }

   #selectTokenHeader {
    font-size: 18px;
    padding-top: 2vh;
   }

   #tokenNameHeader {
    font-size: 14px;
   }

   #selectTokenHeader, #tokenNameHeader {

    text-align: left;
    padding-left: 1vw;
   }



   .table tbody tr td  {
        line-height: 19px;
   }
   
   #tokenContainer {
    height: 75vh; 
    width: 340px; 
    border-radius: 10px;

   }

   #inputDiv{
       display: flex;
       justify-content: center;
   }

    #inputSearch {

    width: 90%;
    line-height: 30px;
    height: fit-content;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-bottom: 12px;
  
    }

    #table>tbody>tr>td,
    #table>tbody>tr>th {
      border-bottom: none;
    }


    #btn-login {
      /* width: fit-content; */
    }