.highlight {
  background-color: #ececec;
}

#dexForm {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -230px;
  width: 460px;
  height: 310px;
  background-color: #ffffff;
}

#amountFromInput, #amountToInput {
  display: block;
  height: 50px;
  width: 335px;
  margin-left: 0%;
  margin-top:50px;
  top: 50px;
}

#maxBtn{
  position: absolute;
  height: 50px;
  width: 90px;
  margin-left: 50%;
  margin-top: -50px;
}

#actionBtn{
  position: absolute;
  height: auto;
  width: 250px;
  margin-left: 22%;
  margin-top: 20px;

}


#swapFromBtn, #swapToBtn{
  position: absolute;
  margin-left: 69%;
  height: 50px;
  width: 140px;
  overflow: hidden;
}

#swapFromBtn {
  margin-top: -150px;
}

#swapToBtn{
  margin-top: -50px;
}

#swapToBtn > img, #swapFromBtn > img {
  width: 30px;
  height: 30px;
}


#selectTokenHeader {
  font-size: 18px;
  padding-top: 2vh;
}

#tokenNameHeader {
  font-size: 14px;
}

#selectTokenHeader,
#tokenNameHeader {
  text-align: left;
  padding-left: 1vw;
}

.table tbody tr td {
  line-height: 19px;
}
#tokenContainer {
  background-color: #ffffff;
}

#tokenContainer,
#searchResults {
  height: 75vh;
  width: 340px;
  border-radius: 10px;
}

#inputDiv {
  display: flex;
  justify-content: center;
}

#inputSearch {
  width: 90%;
  line-height: 30px;
  height: fit-content;
  text-align: center;
  font-size: 13.5px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-bottom: 12px;
}

#table > tbody > tr > td,
#table > tbody > tr > th {
  border-bottom: none;
}

.div {
  width: fit-content;
  height: fit-content;
}


#closeBtn {
  position:relative;
  left: 290px;
  top: -40px;
  
}